extends layout

block content
	block left
		div#comments
			each comment in comments

				- var qual = Math.round(comment.quality * 100)
				- var url = 'http://www.reddit.com' + comment.url
				- var disp_url = url.substring(0, 60) + '...'

				div.comment
					div.quality <b>#{qual}</b>
					div.text= comment.text
					a.reddit(href=url)= disp_url

				div.divider

	block menu
		div.sidebar
			div.loading
			div.menu
				each sub in subs
					div.menu-item.included
						span.plus + 
						span.name= sub
						span.only  o