extends layout

block content
  h1 Look at facts
  form(method='post', action='')
    input(type='text', name='keyword')
    input(type='submit', name='site', value='Twitter')
    input(type='submit', name='site', value='Reddit')