body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  /*	background-color:rgba(252,252,252,1);
	background-color:#FFFCF2;*/

}
a {
  color: blue;
}
a.reddit {
  color: #00B7FF;
}
h1 {
  margin-bottom: 50px;
}
#comments {
  margin-left: 10%;
  width: 50%;
}
.quality {
  text-align: right;
}
.divider {
  margin: 70px 0px 40px 28%;
  border-top: 1px solid #DDDDDD;
  height: 0px;
  width: 40%;
}
.sidebar {
  position: fixed;
  top: 13%;
  right: 15%;
  width: 160px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.loading {
  height: 30px;
  margin: 10px;
  font-style: italic;
}
.menu {
  padding: 14px;
  box-shadow: inset 0px 0px 8px 2px rgba(0, 0, 0, 0.5);
}
.menu-item {
  cursor: pointer;
  margin-bottom: 4px;
  display: inline-block;
}
.included:hover {
  color: #BF0A0A;
}
.excluded:hover {
  color: #0CCC53;
}
.plus {
  display: inline-block;
  width: 17px;
}
.only {
  font-size: 16px;
  font-family: helvetica;
  font-weight: 100;
  padding-left: 2px;
}
.red {
  color: #BF0A0A;
}
.green {
  color: #0CCC53 !important;
}
